$theme-colors: (
        "regex": #900,
        "Open": #990000,
        "Resolved": #1e7e34,
        "High": #990000,
        "Medium": #d39e00,
        "Low": mediumseagreen,
        "Breach": #d3AA44,
        "Suppress": #AA4444,
        "DetailCard": #DDDDDD,
        "EventCard": #DDDDDD,
);
$font-size-base:              0.75rem !default;
$line-height-base:            1.25 !default;
// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../node_modules/bootstrap-vue/src/index.scss';

